.button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 16px 14px;

    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    color: #050d33;
    border: none;
    border-radius: 12px;
    gap: 8px;
}

.button.medium {
    height: 40px;
}

.button.big {
    height: 52px;
}

.button.gray {
    background-color: rgba(92, 94, 102, 0.06);
}

.button.yellow {
    background-color: #eefd7d;
}

.button.transparent {
    color: #122db2;
    background: none;
}

.button:disabled {
    color: #c8c9cc;
    background-color: rgba(92, 94, 102, 0.04);
}

.button.moderate {
    min-width: 150px;

    color: inherit;
}
