.card {
  flex: 1;
  position: relative;

  padding: 10px 12px 42px 12px;

  border: 1px solid rgba(92, 94, 102, 0.14);
  border-radius: 12px;
}

.title {
  font-size: 14px;

  color: #7b7d85;
}

.count {
  position: absolute;
  left: 12px;
  bottom: 10px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.circleCard {
  position: absolute;
  right: 14px;
  bottom: 14px;
}
